# Copyright (c) 2023 XiNGRZ
# SPDX-License-Identifier: MIT

config AS5047
	bool "14-Bit On-Axis Magnetic Rotary Position Sensor with 11-Bit Decimal and Binary Incremental Pulse Count"
	depends on SPI
	select SENSOR

if AS5047

config AS5047_THREAD_PRIORITY
	int "Thread priority"
	default 10
	help
	  Priority of thread used by the driver to poll frames.

config AS5047_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1024
	help
	  Stack size of thread used by the driver to poll frames.

endif # AS5047
